<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BankSMSServer.Server" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BankSMSServer.Server>
            <setting name="ModemPort" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=localhost;Database=bank;UId=root;Pwd=;</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </BankSMSServer.Server>
    </userSettings>
</configuration>